.python-version
.vscode/

draft.ipynb

.ipynb.checkpoints/

HomeWork_1/password.txt
HomeWork_2/password.txt
HomeWork_3/password.txt
HomeWork_4/password.txt
HomeWork_5/password.txt
HomeWork_6/password.txt


HomeWork_1/.ipynb_checkpoints/
HomeWork_2/.ipynb_checkpoints/
HomeWork_3/.ipynb_checkpoints/
HomeWork_4/.ipynb_checkpoints/
HomeWork_5/.ipynb_checkpoints/
HomeWork_6/.ipynb_checkpoints/
